In [200]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/car-accident-dataset/Road Accident Data.csv

In [201]:
df = pd.read_csv('/kaggle/input/car-accident-dataset/Road Accident Data.csv')

In [202]:
df.head().T

,0,1,2,3,4
Accident_Index,200901BS70001,200901BS70002,200901BS70003,200901BS70004,200901BS70005
Accident Date,1/1/2021,1/5/2021,1/4/2021,1/5/2021,1/6/2021
Day_of_Week,Thursday,Monday,Sunday,Monday,Tuesday
Junction_Control,Give way or uncontrolled,Give way or uncontrolled,Give way or uncontrolled,Auto traffic signal,Auto traffic signal
Junction_Detail,T or staggered junction,Crossroads,T or staggered junction,T or staggered junction,Crossroads
Accident_Severity,Serious,Serious,Slight,Serious,Serious
Latitude,51.512273,51.514399,51.486668,51.507804,51.482076
Light_Conditions,Daylight,Daylight,Daylight,Daylight,Darkness - lights lit
Local_Authority_(District),Kensington and Chelsea,Kensington and Chelsea,Kensington and Chelsea,Kensington and Chelsea,Kensington and Chelsea
Carriageway_Hazards,NaN,NaN,NaN,NaN,NaN
Longitude,-0.201349,-0.199248,-0.179599,-0.20311,-0.173445
Number_of_Casualties,1,11,1,1,1
Number_of_Vehicles,2,2,2,2,2
Police_Force,Metropolitan Police,Metropolitan Police,Metropolitan Police,Metropolitan Police,Metropolitan Police
Road_Surface_Conditions,Dry,Wet or damp,Dry,Frost or ice,Dry
Road_Type,One way street,Single carriageway,Single carriageway,Single carriageway,Single carriageway
Speed_limit,30,30,30,30,30
Time,15:11,10:59,14:19,8:10,17:25
Urban_or_Rural_Area,Urban,Urban,Urban,Urban,Urban
Weather_Conditions,Fine no high winds,Fine no high winds,Fine no high winds,Other,Fine no high winds
Vehicle_Type,Car,Taxi/Private hire car,Taxi/Private hire car,Motorcycle over 500cc,Car

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident_Index              307973 non-null  object
 1   Accident Date               307973 non-null  object
 2   Day_of_Week                 307973 non-null  object
 3   Junction_Control            307973 non-null  object
 4   Junction_Detail             307973 non-null  object
 5   Accident_Severity           307973 non-null  object
 6   Latitude                    307973 non-null  float64
 7   Light_Conditions            307973 non-null  object
 8   Local_Authority_(District)  307973 non-null  object
 9   Carriageway_Hazards         5424 non-null    object
 10  Longitude                   307973 non-null  float64
 11  Number_of_Casualties        307973 non-null  int64
 12  Number_of_Vehicles          307973 non-null  int64
 13  Police_Force                307973 non-null  object
 14  Road_Surface_Conditions     307656 non-null  object
 15  Road_Type                   306439 non-null  object
 16  Speed_limit                 307973 non-null  int64
 17  Time                        307956 non-null  object
 18  Urban_or_Rural_Area         307973 non-null  object
 19  Weather_Conditions          301916 non-null  object
 20  Vehicle_Type                307973 non-null  object
dtypes: float64(2), int64(3), object(16)
memory usage: 49.3+ MB

In [204]:
df.columns = map(str.lower, df.columns)

In [205]:
df.drop(columns = 'carriageway_hazards', inplace=True)

In [206]:
from datetime import datetime as dt

In [207]:
df.time = pd.to_datetime(df.time, format='%H:%S')

In [208]:
df.rename(columns={'accident date':'accident_date'}, inplace=True)
df.accident_date = pd.to_datetime(df.accident_date)

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 20 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   accident_index              307973 non-null  object
 1   accident_date               307973 non-null  datetime64[ns]
 2   day_of_week                 307973 non-null  object
 3   junction_control            307973 non-null  object
 4   junction_detail             307973 non-null  object
 5   accident_severity           307973 non-null  object
 6   latitude                    307973 non-null  float64
 7   light_conditions            307973 non-null  object
 8   local_authority_(district)  307973 non-null  object
 9   longitude                   307973 non-null  float64
 10  number_of_casualties        307973 non-null  int64
 11  number_of_vehicles          307973 non-null  int64
 12  police_force                307973 non-null  object
 13  road_surface_conditions     307656 non-null  object
 14  road_type                   306439 non-null  object
 15  speed_limit                 307973 non-null  int64
 16  time                        307956 non-null  datetime64[ns]
 17  urban_or_rural_area         307973 non-null  object
 18  weather_conditions          301916 non-null  object
 19  vehicle_type                307973 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(3), object(13)
memory usage: 47.0+ MB

In [210]:
df.drop(columns=['longitude','latitude'], inplace=True)

In [211]:
df.groupby('accident_severity')['number_of_casualties'].mean()

accident_severity
Fatal      1.814293
Fetal      1.061224
Serious    1.455866
Slight     1.334837
Name: number_of_casualties, dtype: float64

In [212]:
df.vehicle_type.value_counts()

vehicle_type
Car                                      239794
Van / Goods 3.5 tonnes mgw or under       15695
Motorcycle over 500cc                     11226
Bus or coach (17 or more pass seats)       8686
Motorcycle 125cc and under                 6852
Goods 7.5 tonnes mgw and over              6532
Taxi/Private hire car                      5543
Motorcycle 50cc and under                  3703
Motorcycle over 125cc and up to 500cc      3285
Other vehicle                              2516
Goods over 3.5t. and under 7.5t            2502
Minibus (8 - 16 passenger seats)            821
Agricultural vehicle                        749
Pedal cycle                                  66
Ridden horse                                  3
Name: count, dtype: int64

In [213]:
df.pivot_table(index='day_of_week',columns='accident_severity',values='number_of_casualties', aggfunc='mean')

accident_severity     Fatal     Fetal   Serious    Slight
day_of_week
Friday             1.821311  1.000000  1.462882  1.328644
Monday             1.795082  1.000000  1.424620  1.312103
Saturday           1.914773  1.000000  1.533377  1.392071
Sunday             1.883573  1.500000  1.557432  1.427051
Thursday           1.717742  1.111111  1.420678  1.307385
Tuesday            1.809237  1.083333  1.396036  1.304307
Wednesday          1.692308  1.000000  1.396091  1.307629

In [214]:
df.pivot_table(index='day_of_week',columns='urban_or_rural_area',values='number_of_casualties', aggfunc='mean', margins='sum')

urban_or_rural_area     Rural     Urban       All
day_of_week
Friday               1.490215  1.277624  1.351580
Monday               1.456294  1.264064  1.331413
Saturday             1.544542  1.348214  1.421595
Sunday               1.566633  1.379373  1.456535
Thursday             1.444105  1.266576  1.326447
Tuesday              1.438662  1.260205  1.321045
Wednesday            1.432082  1.265293  1.322503
All                  1.480423  1.288780  1.356882

In [215]:
df.pivot_table(index='day_of_week',columns='urban_or_rural_area',values='number_of_casualties', aggfunc=(lambda a: a.max()))

urban_or_rural_area  Rural  Urban
day_of_week
Friday                  43     27
Monday                  40     18
Saturday                17     22
Sunday                  17     14
Thursday                18     26
Tuesday                 48     14
Wednesday               21     16

In [216]:
df['vehicle_to_casualty_ratio'] = df.number_of_vehicles/df.number_of_casualties
df.pivot_table(index='day_of_week',columns='urban_or_rural_area',values='vehicle_to_casualty_ratio', aggfunc='max')

urban_or_rural_area  Rural  Urban
day_of_week
Friday                 8.0    9.0
Monday                 6.0    8.0
Saturday               8.0    9.0
Sunday                11.0   10.0
Thursday              12.0   10.0
Tuesday                9.0    8.0
Wednesday             10.0    9.0

In [217]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 19 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   accident_index              307973 non-null  object
 1   accident_date               307973 non-null  datetime64[ns]
 2   day_of_week                 307973 non-null  object
 3   junction_control            307973 non-null  object
 4   junction_detail             307973 non-null  object
 5   accident_severity           307973 non-null  object
 6   light_conditions            307973 non-null  object
 7   local_authority_(district)  307973 non-null  object
 8   number_of_casualties        307973 non-null  int64
 9   number_of_vehicles          307973 non-null  int64
 10  police_force                307973 non-null  object
 11  road_surface_conditions     307656 non-null  object
 12  road_type                   306439 non-null  object
 13  speed_limit                 307973 non-null  int64
 14  time                        307956 non-null  datetime64[ns]
 15  urban_or_rural_area         307973 non-null  object
 16  weather_conditions          301916 non-null  object
 17  vehicle_type                307973 non-null  object
 18  vehicle_to_casualty_ratio   307973 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(13)
memory usage: 44.6+ MB

In [218]:
df['hour_of_day'] = pd.to_numeric(df.time.dt.strftime('%H'), errors='coerce')

In [219]:
df['hour_of_day'].max()

23.0

In [220]:
df['hour_of_day'].min()

0.0

In [221]:
bins = [0,9,12,15,18,21,23]
labels = ['0-9','9-12','12-15','15-18','18-21','21-23']
df['time_category'] = pd.cut(df.hour_of_day,bins=bins,labels=labels)

In [222]:
df['time_category'].value_counts(normalize=True)*100

time_category
15-18    24.046372
0-9      22.636495
12-15    20.504865
9-12     15.916832
18-21    12.099351
21-23     4.796086
Name: proportion, dtype: float64

In [223]:
df.road_type.nunique()

5

In [224]:
pd.crosstab(index=[df.day_of_week,df.time_category],columns =df.road_type,values=df.number_of_casualties, aggfunc='max',colnames=['Road Type'])

Road Type                  Dual carriageway  One way street  Roundabout  \
day_of_week time_category
Friday      0-9                          43               3           8
            9-12                          9              15           6
            12-15                         9               6           6
            15-18                        16               5           6
            18-21                        14               6           7
            21-23                        14               4           5
Monday      0-9                           7               4           5
            9-12                          8               4          10
            12-15                        10               5          11
            15-18                        10               5          10
            18-21                         9               5           7
            21-23                         5               3           4
Saturday    0-9                           7               3           6
            9-12                         10               4           6
            12-15                        13               6           9
            15-18                        22               5           5
            18-21                        10               4           5
            21-23                         9               5           6
Sunday      0-9                           8               4           5
            9-12                         12               3           5
            12-15                        13               4           8
            15-18                        12               4           5
            18-21                        10               3           4
            21-23                        10               4           6
Thursday    0-9                          24               4           6
            9-12                          6               5           5
            12-15                         9               3           6
            15-18                        12               4          17
            18-21                        18               6           6
            21-23                        10               4           6
Tuesday     0-9                           7               4           6
            9-12                          6               7           5
            12-15                        10               9          12
            15-18                         7               5           6
            18-21                         7               3           5
            21-23                         6               4           5
Wednesday   0-9                           9               5           7
            9-12                         13               4           6
            12-15                        14               6           8
            15-18                        10              10           5
            18-21                         7               3           4
            21-23                        10               4           4

Road Type                  Single carriageway  Slip road
day_of_week time_category
Friday      0-9                            15          4
            9-12                           21          5
            12-15                          42          4
            15-18                          11          4
            18-21                          21          6
            21-23                           8          4
Monday      0-9                            18         12
            9-12                           19          3
            12-15                          40          9
            15-18                           8          5
            18-21                           9          4
            21-23                           8          4
Saturday    0-9                            10          4
            9-12                           17          4
            12-15                           8          7
            15-18                          10          5
            18-21                          11          5
            21-23                          10         16
Sunday      0-9                            17          6
            9-12                            9          6
            12-15                          11          7
            15-18                          15          8
            18-21                          10          3
            21-23                          11          5
Thursday    0-9                            18          5
            9-12                           26          5
            12-15                          13          5
            15-18                           9          5
            18-21                           8          5
            21-23                           7          4
Tuesday     0-9                            12          6
            9-12                           14          5
            12-15                          24          5
            15-18                           9          6
            18-21                           9          4
            21-23                          48          4
Wednesday   0-9                            21          5
            9-12                           13          4
            12-15                          17          4
            15-18                           9          3
            18-21                          16         14
            21-23                           9          5

In [225]:
pd.crosstab(index=[df.day_of_week,df.time_category],columns =df.road_type,values=df.number_of_casualties, aggfunc='mean',colnames=['Road Type'])

Road Type                  Dual carriageway  One way street  Roundabout  \
day_of_week time_category
Friday      0-9                    1.409439        1.096447    1.200528
            9-12                   1.523105        1.237113    1.243902
            12-15                  1.507571        1.181102    1.307692
            15-18                  1.497113        1.138655    1.257869
            18-21                  1.580679        1.275862    1.403846
            21-23                  1.513126        1.268657    1.445122
Monday      0-9                    1.389562        1.153846    1.204390
            9-12                   1.455466        1.131737    1.268240
            12-15                  1.454697        1.245098    1.304493
            15-18                  1.471391        1.201149    1.240964
            18-21                  1.445131        1.278689    1.285714
            21-23                  1.489712        1.291667    1.464286
Saturday    0-9                    1.417661        1.143678    1.285714
            9-12                   1.625321        1.167665    1.293542
            12-15                  1.587134        1.155779    1.344234
            15-18                  1.668849        1.204225    1.321839
            18-21                  1.565585        1.223404    1.444118
            21-23                  1.568238        1.200000    1.429577
Sunday      0-9                    1.455004        1.204969    1.315385
            9-12                   1.635028        1.225000    1.308725
            12-15                  1.657561        1.254717    1.408203
            15-18                  1.664590        1.201754    1.386047
            18-21                  1.692901        1.147541    1.336570
            21-23                  1.629091        1.192308    1.447917
Thursday    0-9                    1.398978        1.141104    1.160000
            9-12                   1.435760        1.152866    1.308585
            12-15                  1.443005        1.182979    1.303905
            15-18                  1.446991        1.157895    1.256614
            18-21                  1.501966        1.209524    1.364964
            21-23                  1.516014        1.268293    1.460938
Tuesday     0-9                    1.349891        1.130682    1.163814
            9-12                   1.428571        1.201005    1.265226
            12-15                  1.414311        1.255708    1.304132
            15-18                  1.428741        1.147541    1.241117
            18-21                  1.466761        1.269231    1.251928
            21-23                  1.584229        1.314286    1.416000
Wednesday   0-9                    1.371277        1.193548    1.166667
            9-12                   1.479010        1.137931    1.272527
            12-15                  1.397138        1.266332    1.297735
            15-18                  1.455136        1.217573    1.238462
            18-21                  1.439024        1.265957    1.229858
            21-23                  1.555160        1.214286    1.358333

Road Type                  Single carriageway  Slip road
day_of_week time_category
Friday      0-9                      1.247428   1.291667
            9-12                     1.329065   1.493506
            12-15                    1.345833   1.470588
            15-18                    1.323451   1.379845
            18-21                    1.403203   1.631579
            21-23                    1.457289   1.470588
Monday      0-9                      1.271330   1.333333
            9-12                     1.316852   1.352941
            12-15                    1.334777   1.548780
            15-18                    1.303408   1.408696
            18-21                    1.360192   1.400000
            21-23                    1.468375   1.681818
Saturday    0-9                      1.365500   1.361111
            9-12                     1.401866   1.443038
            12-15                    1.417470   1.600000
            15-18                    1.394220   1.441558
            18-21                    1.432045   1.410256
            21-23                    1.464621   2.350000
Sunday      0-9                      1.394203   1.566038
            9-12                     1.422720   1.535714
            12-15                    1.467291   1.636364
            15-18                    1.439112   1.838710
            18-21                    1.439466   1.408163
            21-23                    1.483129   2.000000
Thursday    0-9                      1.258280   1.330769
            9-12                     1.315963   1.253333
            12-15                    1.317620   1.426829
            15-18                    1.305717   1.443548
            18-21                    1.368834   1.565217
            21-23                    1.436893   1.631579
Tuesday     0-9                      1.258158   1.376812
            9-12                     1.297249   1.326316
            12-15                    1.335821   1.488095
            15-18                    1.303707   1.400000
            18-21                    1.366873   1.333333
            21-23                    1.481481   1.666667
Wednesday   0-9                      1.255024   1.336000
            9-12                     1.323659   1.407407
            12-15                    1.334118   1.326733
            15-18                    1.300562   1.390411
            18-21                    1.345400   1.641509
            21-23                    1.459945   2.230769

In [226]:
df.groupby('speed_limit')['number_of_casualties'].mean().idxmax()

70

Speed-limit of 70 has the highest average number of casualties.

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   accident_index              307973 non-null  object
 1   accident_date               307973 non-null  datetime64[ns]
 2   day_of_week                 307973 non-null  object
 3   junction_control            307973 non-null  object
 4   junction_detail             307973 non-null  object
 5   accident_severity           307973 non-null  object
 6   light_conditions            307973 non-null  object
 7   local_authority_(district)  307973 non-null  object
 8   number_of_casualties        307973 non-null  int64
 9   number_of_vehicles          307973 non-null  int64
 10  police_force                307973 non-null  object
 11  road_surface_conditions     307656 non-null  object
 12  road_type                   306439 non-null  object
 13  speed_limit                 307973 non-null  int64
 14  time                        307956 non-null  datetime64[ns]
 15  urban_or_rural_area         307973 non-null  object
 16  weather_conditions          301916 non-null  object
 17  vehicle_type                307973 non-null  object
 18  vehicle_to_casualty_ratio   307973 non-null  float64
 19  hour_of_day                 307956 non-null  float64
 20  time_category               303289 non-null  category
dtypes: category(1), datetime64[ns](2), float64(2), int64(3), object(13)
memory usage: 47.3+ MB

In [228]:
pd.pivot_table(data=df,index=['speed_limit','road_surface_conditions'],values='number_of_casualties',aggfunc='mean')

                                     number_of_casualties
speed_limit road_surface_conditions
10          Dry                                  1.000000
            Wet or damp                          1.500000
15          Dry                                  1.500000
20          Dry                                  1.171415
            Flood over 3cm. deep                 2.000000
            Frost or ice                         1.469136
            Snow                                 1.257143
            Wet or damp                          1.213223
30          Dry                                  1.259147
            Flood over 3cm. deep                 1.342857
            Frost or ice                         1.304111
            Snow                                 1.281679
            Wet or damp                          1.326148
40          Dry                                  1.447896
            Flood over 3cm. deep                 1.676471
            Frost or ice                         1.353000
            Snow                                 1.503125
            Wet or damp                          1.465817
50          Dry                                  1.516210
            Flood over 3cm. deep                 1.277778
            Frost or ice                         1.412475
            Snow                                 1.497297
            Wet or damp                          1.510316
60          Dry                                  1.535226
            Flood over 3cm. deep                 1.492754
            Frost or ice                         1.380662
            Snow                                 1.460400
            Wet or damp                          1.547803
70          Dry                                  1.573528
            Flood over 3cm. deep                 1.607143
            Frost or ice                         1.449177
            Snow                                 1.418708
            Wet or damp                          1.580009

In [229]:
df.light_conditions.value_counts()

light_conditions
Daylight                       227286
Darkness - lights lit           60093
Darkness - no lighting          16528
Darkness - lighting unknown      2924
Darkness - lights unlit          1142
Name: count, dtype: int64

In [230]:
pd.pivot_table(data=df, index='light_conditions',columns='weather_conditions',values='number_of_casualties',aggfunc='mean')

weather_conditions,Fine + high winds,Fine no high winds,Fog or mist,Other,Raining + high winds,Raining no high winds,Snowing + high winds,Snowing no high winds
light_conditions,,,,,,,,
Darkness - lighting unknown,1.440000,1.337441,1.428571,1.285714,1.222222,1.303150,1.416667,1.277778
Darkness - lights lit,1.357827,1.367535,1.482456,1.362673,1.355379,1.380373,1.401163,1.319472
Darkness - lights unlit,1.346154,1.348465,1.280000,1.346667,1.461538,1.350515,1.500000,1.125000
Darkness - no lighting,1.484615,1.555514,1.411192,1.505451,1.527835,1.541730,1.413462,1.391374
Daylight,1.371325,1.335642,1.404980,1.330756,1.397059,1.405314,1.430894,1.343966

In [231]:
pd.pivot_table(data=df, index='light_conditions',columns='weather_conditions',values='number_of_casualties',aggfunc='max')

weather_conditions,Fine + high winds,Fine no high winds,Fog or mist,Other,Raining + high winds,Raining no high winds,Snowing + high winds,Snowing no high winds
light_conditions,,,,,,,,
Darkness - lighting unknown,3,6,4,5,2,6,3,4
Darkness - lights lit,12,21,14,9,8,16,6,6
Darkness - lights unlit,3,8,3,3,4,7,2,3
Darkness - no lighting,6,16,7,48,7,10,8,7
Daylight,8,43,7,10,8,24,6,7

In [232]:
df.groupby('vehicle_type')['number_of_casualties'].apply(lambda a: a.max()).sort_values(ascending=False)

vehicle_type
Van / Goods 3.5 tonnes mgw or under      48
Car                                      43
Goods over 3.5t. and under 7.5t          21
Motorcycle over 500cc                    18
Motorcycle 125cc and under               13
Motorcycle 50cc and under                12
Taxi/Private hire car                    12
Motorcycle over 125cc and up to 500cc    11
Bus or coach (17 or more pass seats)     10
Goods 7.5 tonnes mgw and over            10
Other vehicle                             9
Agricultural vehicle                      8
Minibus (8 - 16 passenger seats)          6
Pedal cycle                               5
Ridden horse                              1
Name: number_of_casualties, dtype: int64

In [233]:
df.groupby('vehicle_type')['number_of_casualties'].apply(lambda a: a.max()-a.min()).sort_values(ascending=False)

vehicle_type
Van / Goods 3.5 tonnes mgw or under      47
Car                                      42
Goods over 3.5t. and under 7.5t          20
Motorcycle over 500cc                    17
Motorcycle 125cc and under               12
Motorcycle 50cc and under                11
Taxi/Private hire car                    11
Motorcycle over 125cc and up to 500cc    10
Bus or coach (17 or more pass seats)      9
Goods 7.5 tonnes mgw and over             9
Other vehicle                             8
Agricultural vehicle                      7
Minibus (8 - 16 passenger seats)          5
Pedal cycle                               4
Ridden horse                              0
Name: number_of_casualties, dtype: int64

In [234]:
df.groupby('vehicle_type')[['number_of_casualties','vehicle_type']].agg({'number_of_casualties':'sum','vehicle_type':'size'}).rename(columns={'vehicle_type':'Count'})

                                       number_of_casualties   Count
vehicle_type
Agricultural vehicle                                   1032     749
Bus or coach (17 or more pass seats)                  11710    8686
Car                                                  325922  239794
Goods 7.5 tonnes mgw and over                          8770    6532
Goods over 3.5t. and under 7.5t                        3404    2502
Minibus (8 - 16 passenger seats)                       1088     821
Motorcycle 125cc and under                             9109    6852
Motorcycle 50cc and under                              4945    3703
Motorcycle over 125cc and up to 500cc                  4467    3285
Motorcycle over 500cc                                 15151   11226
Other vehicle                                          3329    2516
Pedal cycle                                              92      66
Ridden horse                                              3       3
Taxi/Private hire car                                  7563    5543
Van / Goods 3.5 tonnes mgw or under                   21298   15695

In [235]:
vehicles = df.groupby('vehicle_type')[['number_of_casualties','vehicle_type']].agg({'number_of_casualties':'sum','vehicle_type':'size'}).rename(columns={'vehicle_type':'Count'})

In [236]:
vehicles

                                       number_of_casualties   Count
vehicle_type
Agricultural vehicle                                   1032     749
Bus or coach (17 or more pass seats)                  11710    8686
Car                                                  325922  239794
Goods 7.5 tonnes mgw and over                          8770    6532
Goods over 3.5t. and under 7.5t                        3404    2502
Minibus (8 - 16 passenger seats)                       1088     821
Motorcycle 125cc and under                             9109    6852
Motorcycle 50cc and under                              4945    3703
Motorcycle over 125cc and up to 500cc                  4467    3285
Motorcycle over 500cc                                 15151   11226
Other vehicle                                          3329    2516
Pedal cycle                                              92      66
Ridden horse                                              3       3
Taxi/Private hire car                                  7563    5543
Van / Goods 3.5 tonnes mgw or under                   21298   15695

In [237]:
vehicles.apply(lambda a: a.number_of_casualties/a.Count,axis=1)

vehicle_type
Agricultural vehicle                     1.377837
Bus or coach (17 or more pass seats)     1.348146
Car                                      1.359175
Goods 7.5 tonnes mgw and over            1.342621
Goods over 3.5t. and under 7.5t          1.360512
Minibus (8 - 16 passenger seats)         1.325213
Motorcycle 125cc and under               1.329393
Motorcycle 50cc and under                1.335404
Motorcycle over 125cc and up to 500cc    1.359817
Motorcycle over 500cc                    1.349635
Other vehicle                            1.323132
Pedal cycle                              1.393939
Ridden horse                             1.000000
Taxi/Private hire car                    1.364424
Van / Goods 3.5 tonnes mgw or under      1.356993
dtype: float64

Pedal cycle and Ridden horse would be dropped because there isnt much record on both.

In [238]:
vehicles = vehicles.reset_index()

In [239]:
vehicles

                             vehicle_type  number_of_casualties   Count
0                    Agricultural vehicle                  1032     749
1    Bus or coach (17 or more pass seats)                 11710    8686
2                                     Car                325922  239794
3           Goods 7.5 tonnes mgw and over                  8770    6532
4         Goods over 3.5t. and under 7.5t                  3404    2502
5        Minibus (8 - 16 passenger seats)                  1088     821
6              Motorcycle 125cc and under                  9109    6852
7               Motorcycle 50cc and under                  4945    3703
8   Motorcycle over 125cc and up to 500cc                  4467    3285
9                   Motorcycle over 500cc                 15151   11226
10                          Other vehicle                  3329    2516
11                            Pedal cycle                    92      66
12                           Ridden horse                     3       3
13                  Taxi/Private hire car                  7563    5543
14    Van / Goods 3.5 tonnes mgw or under                 21298   15695

In [245]:
vehicles.drop(index=vehicles[vehicles.vehicle_type.isin(['Pedal cycle','Ridden horse'])].index, inplace=True)

In [251]:
vehicles.set_index('vehicle_type').apply(lambda a: a.number_of_casualties/a.Count,axis=1).sort_values(ascending=False).iloc[:5]

vehicle_type
Agricultural vehicle                     1.377837
Taxi/Private hire car                    1.364424
Goods over 3.5t. and under 7.5t          1.360512
Motorcycle over 125cc and up to 500cc    1.359817
Car                                      1.359175
dtype: float64

Agricultural Vehicles have the highest number of casualties per vehicle.